{{#partial "content"}}
  <div class="well">
    <h4>Name:</h4>
    <p>{{ event.name }}</p>
     <h4>Date:</h4>
     <p>{{ event.date }}</p>
    <h4>Description:</h4>
    <p> {{ event.description }}</p>
    <a href="/events/{{ event.id }}/update">Edit Event</a>
    <br>
    <a href="/events/{{ event.id }}/delete">DELETE Event (no undo)</a>
  </div>

  <div class="well">
    <h4>Attendees:</h4>
        {{#each attendees }}
            <li> <a href="/events/{{event.id}}/attendees/{{ id }}">{{ name }} </a></li>
        {{/each }}
    <a href="/events/{{event.id}}/attendees">Add Attendee</a>
    <br>
    <a href="/events/{{event.id}}/attendees/delete">Delete All Attendees</a>
  </div>

{{/partial}}

{{> layout.hbs}}

