{{#partial "content"}}
  <div class="well">
    <h4>Name:</h4>
    <p>{{ event.name }}</p>
    <h4>Description:</h4>
    <p> {{ event.description }}</p>
    <a href="/events/{{ event.id }}/update">Edit</a>
  </div>

  <div class="well">
    <h4>Attendees:</h4>
        {{#each event.attendees }}
            <li>{{ this }}</li>
        {{/each }}
    <a href="/events/{{event.id}}/addAttendee">Add Attendee</a>
  </div>

{{/partial}}

{{> layout.hbs}}

