{{#partial "content"}}

    <h2>Event List</h2>

    {{#if events}}
        {{#each events}}
        <div class="col-md-4">
        <div class = "well">
            <p>{{name}}
            <p>{{date}}</p>
            <p>{{description}}</p>
            <a href="/events/{{id}}">Event details...</a></p>
        </div>
        </div>
        {{/each}}
    {{else}}
        <p>No Events Posted</p>
    {{/if}}

    <footer class="footer">
        <div class="container">
            <br>
            <a href="/events/{{id}}/delete">DELETE All Events (no undo)</a></p>
            <a href="/attendees/delete">DELETE All Attendees (no undo)</a></p>
        </div>
    </footer>
{{/partial}}

{{> layout.hbs}}